# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
data/logs/*.log

# Local database
db/*.db
db/*.sqlite3

# Processed data artifacts
data/processed/*.csv
data/processed/*.parquet

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/